/* Impostazioni di base */
body {
    font-family: 'Ariel', sans-serif;
    margin: 0;
    background-image: url("/static/images/Filingrana.png.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-container {
    width: 100%; /* Rende il contenitore largo come lo schermo */
    
}

/* Importa il font Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


.riquadro h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/* Stile personalizzato per i titoli specifici di ogni riquadro */
.riquadro1 h2, .riquadro2 h2, .riquadro3 h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
}


/* Stile per il contenitore che contiene i box */
.draggable-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente i box */
    flex-wrap: wrap; /* Permette di andare a capo se necessario */
    gap: 1rem; /* Spazio tra i box */
    margin-bottom: 1.25rem; /* Margine inferiore */
    text-align: center;
    margin-top: 10rem;
}

/* Stile per i box all'interno del contenitore */
.draggable-box {
    display: flex;
    justify-content: center; 
    flex-direction: column; /* Dispone gli elementi in colonna, uno sotto l'altro */
    align-items: center; /* Centra gli elementi orizzontalmente */
    background-color: #f0f0f0;
    border: 0.0625rem solid #ccc;
    padding: 0.9375rem;
    width: 45%; /* Larghezza dei box */
    margin-bottom: 1.25rem;
    border-radius: 0.3125rem;
    margin-top: 2rem;
}

/* Gestisce il layout del strong e dell'input */
.draggable-box strong {
    margin-bottom: 0.5rem; /* Spazio tra strong e input */
    text-align: center;
}

.draggable-box input {
    width: 100%; /* Larghezza dell'input */
    padding: 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

/* Colore del testo dei <strong> */
.coloretestoriquadroprincipale {
    color: white;
}


/* Contenitore per i riquadri */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.875rem; /* 30px */
}



/* Stile dei Riquadri */
.riquadro {
    border: 0.0625rem solid #ffffff; /* 1px */
    padding: 0rem; /* 20px */
    width: calc(32% - 1.870rem); /* 30px */
    box-shadow: 0 0.125rem 0.3125rem rgba(16, 94, 70, 0.1); /* 2px 5px */
    margin: 0.625rem; /* 10px */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 60rem; /* 1600px */
    box-sizing: border-box;
}
.riquadrosuperiore {
    
    width:auto;
    padding-top: 2rem; /* padding più contenuto per evitare overflow su schermi piccoli */
    padding-left: 7rem;
    padding-right: 7rem;
}

/* Stile del box rettangolare per i titoli */
.box-titolo {
    background-color: rgb(255, 255, 255);
    padding: 0.9375rem 0.625rem; /* 15px 10px */
    margin-bottom: 1.25rem; /* 20px */
    text-align: center;
    width: 100%;
}

/* Stile per i titoli dentro i box */
.riquadro h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Colori Personalizzati per i Riquadri */
.riquadro1 {
    background-color: #207ABC;
}

.riquadro2 {
    background-color: #d41c1c;
    display: flex;
    overflow: hidden;
}

.riquadro3 {
    background-color: #048957;
}


/* Personalizzazione per input */
.quantocosta, .quantomaturi, .verorisparmio {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid white; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    margin-top: 0.3125rem; /* 5px */
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem;
}



/* Stile personalizzato per i titoli specifici di ogni riquadro */
.riquadro1 h2 {
    color: #207ABC;
    font-size: 1.6rem;
}

.riquadro2 h2 {
    color: #d41c1c;
    margin: 0;
    display: block;
    white-space: nowrap;
    font-size: 1.6rem;
}

.riquadro3 h2 {
    color: #048957;
    font-size: 1.6rem;
}

/* Stile per i paragrafi generali */
p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.625rem; /* 10px */
}

p strong {
    width: 12.5rem; /* 200px */
    flex-shrink: 0;
    margin-right: 6.25rem; /* 100px */
    text-align: left;
}

p input {
    flex-grow: 1;
    max-width: 18.75rem; /* 300px */
    padding: 0.625rem; /* 10px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.3125rem; /* 5px */
    box-sizing: border-box;
}

/* Stile per i box neri */
/* Stile per i box neri */
.boxneri {
    width: 100%;
    height: 10rem; /* Imposta un'altezza fissa per uniformità */
    padding: 0rem; /* Padding per distanziare il contenuto dai bordi */
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea verticalmente il contenuto */
    align-items: center; /* Allinea orizzontalmente il contenuto */
    text-align: center;
}

/* Colori specifici per i paragrafi nei box neri in base al colore del riquadro */
.riquadro1 .boxneri input {
    color: #207ABC; /* Colore del testo per riquadro1 */
}

.riquadro2 .boxneri input {
    color: #d41c1c;/* Colore del testo per riquadro2 */
}

.riquadro3 .boxneri input {
    color: #048957; /* Colore del testo per riquadro3 */
}

/* Stile per l'input all'interno del box nero */
.boxneri input {
    width: 80%; /* Mantenere una larghezza fissa più piccola del box */
    padding: 0.5rem;
    background-color: #000000;
    color: #ffffff;
    border: transparent;
    border-radius: 0.3125rem;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
}


/* Stile per il nuovo value-box */
.value-box-1 {
    width: 100%;
    margin-top: 1.25rem; /* 20px */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Stile per i paragrafi all'interno di value-box */
.value-box-1 p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.625rem; /* 10px */
}

/* Stile per strong all'interno di value-box */
.value-box-1 p strong {
    width: 12.5rem; /* 200px */
    flex-shrink: 0;
    margin-right: 1.25rem; /* 20px */
    text-align: left;
    color: white;
}

/* Stile per input all'interno di value-box */
.value-box-1 p input {
    flex-grow: 1;
    max-width: 18.75rem; /* 300px */
    padding: 0.625rem;
    border: 0.0625rem solid white;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}


.value-box-1 p input {
    flex-grow: 1;
    max-width: 18.75rem;
    padding: 0.625rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}


.boxneri a:hover {
    text-decoration: underline;
}

/* Sovrascrive le regole globali per i paragrafi all'interno di .boxneri */
.boxneri p, .boxneri h2 {
    display: block;
    width: 100%;
    max-width: 31.25rem; /* 500px */
    margin: 0.625rem auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Stile per .boxgriginonallineati: Mantieni layout verticale predefinito */
.boxgriginonallineati {
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna */
    justify-content: flex-start; /* Fa partire il contenuto dall'inizio */
    align-items: center; /* Mantiene il contenuto centrato orizzontalmente */
    padding: 0rem;
    background: linear-gradient(to right, #cecece, #f0f0f0); /* Sfumatura da sinistra a destra */
    margin: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
}

/* Centra il contenuto di p verticalmente e orizzontalmente */
.boxgriginonallineati p {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    margin: 0; /* Rimuove i margini di default */
    height: 100%; /* Assicura che l'altezza di p sia piena */
    text-align: center;
    
}

/* Stile per il testo all'interno di strong, centrato rispetto a p */
.boxgriginonallineati p strong {
    text-align: center; /* Assicura che il testo sia centrato */
    margin: 0; /* Rimuove margini aggiuntivi */
    font-weight: bold;
    color: #202127;
    box-sizing: border-box;
    
}

/* Stile per l'input */
.boxgriginonallineati input {
    display: block;
    width: 100%;
    border: transparent;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    background: linear-gradient(to right, #cecece, #f0f0f0); 
    color: #202127;
    font-size: 1rem;
    text-align: center;
}

/* Colori specifici per il testo e l'input di ciascun riquadro */
.riquadro1-box {
    background-color:#cecece;
    color: #207ABC;
}

/* Stile per input all'interno di .boxgriginonallineati con riquadro1-color */
.boxgriginonallineati.riquadro1-color input {
    color: #207ABC; /* Colore del testo blu */
   
}


.riquadro1-box input {
    color: #207ABC;
    border: transparent;
    background-color: transparent;
}

.riquadro2-color {
    background-color: #cecece;
    color: #d41c1c;
}

.riquadro2-color input {
    color: #d41c1c;
    border: transparent;
    background-color: transparent;
}





/* Stile per allineare gli elementi nella classe specifica .boxgrigicolonnaverde */
.boxgrigicolonnaverde {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #cecece, #f0f0f0); 
    width: 100%;
    flex-grow: 1; /* Assicura che i box crescano per occupare lo spazio disponibile */
}

/* Stile per strong all'interno di .boxgrigicolonnaverde */
.boxgrigicolonnaverde strong {
    flex-shrink: 0;
    margin-right: 4rem;
    color:#202127;
    margin-left: 0.5rem;
}

/* Stile per input all'interno di .boxgrigicolonnaverde */
.boxgrigicolonnaverde input {
    flex-grow: 1;
    padding: 0.625rem;
    border: transparent;
    border-radius: 0.3125rem;
    background-color: transparent;
    color: green;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Stile specifico per il riquadro "TOTALE RISPARMIO IN 10 ANNI" */
.riquadro3-color {
    padding-top: 2rem;
    background-color: #cecece; /* Colore di sfondo per differenziare */
    color: #048957; /* Colore del testo */
    padding-bottom: 3rem;
}



.riquadro3-color input {
    color: #048957; /* Colore del testo dell'input */
    border: transparent; /* Bordo abbinato al testo */
    background-color: transparent;
}


/* Pulsante Salva Modifiche */
button {
    background-color: #4c90af;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    width: 100%;
    margin-top: 1.25rem;
}

button:hover {
    background-color: #45a049;
}

/* Stile per l'input con classe 'centrale' */
.centrale {
    display: block;
    width: 100%;
    margin-top: 0.625rem;
    padding: 0.625rem;
    box-sizing: border-box;
}

/* Stile del Footer */
.footer {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    color: #666;
}
