elaborazione/urls.py
elaborazione/urls.py
elaborazione/views.py
elaborazione/__pycache__/urls.cpython-313.pyc
elaborazione/__pycache__/views.cpython-313.pyc
elaborazione/templates/index.html
EPC_5_0/urls.py
EPC_5_0/__pycache__/urls.cpython-313.pyc
