{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo Commerciale - Impianto Fotovoltaico</title>
    <link rel="stylesheet" href="{% static 'EPC_5_0_v02/styles.css' %}"> <!-- Collegamento al CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
    <button type="submit" name="salva_modifiche">Salva modifiche</button>
    <div class="main-container">
         <!-- Draggable Container con i due nuovi box distinti -->
         <div class="draggable-container">
            <!-- Primo nuovo box -->
            <div class="draggable-box-1">
                <p><strong class="barracuda">CONSUMI ANNUI CLIENTE</strong></p>
                <p> <input class="rubik" type="text" name="consumi_annui_cliente" value="{{ consumi_annui_cliente }}"></p>
            </div>
            
            <!-- Secondo nuovo box -->
            <div class="draggable-box-2">
                <p><strong class="barracuda">COSTI ANNUI ENERGIA ELETTRICA</strong></p>
                <p><input class="rubik" type="text" name="costi_energia_cliente" value="{{ costi_energia_cliente }}"></p>
            </div>
             
             <div class="draggable-box-2">
                <p><strong class="barracuda">Tariffa acquisto energia corrente</strong></p>
                <p><input class="rubik" type="text" name="tariffa_energia_cliente" value="{{ tariffa_energia_cliente }}" readonly></p>
            </div>
             
        </div>
        <div class="container">
        
            <!-- Riquadro 1 -->
            <div class="riquadro riquadro1" id="riquadro1">

                <div class="riquadrosuperiore">
                    <div class="box-titolo">
                        <h2>QUANTO COSTA?</h2>
                    </div>

                    <!-- Inizio del value-box -->
                    <div class="value-box-1">
                        <p>
                            <strong class="coloretestoriquadroprincipale">IMPIANTO FOTOVOLTAICO</strong>
                            <input class="quantocosta" type="text" name="costo_fv"
                                   value="{{ costo_fv }}">
                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">STORAGE</strong>
                            <input class="quantocosta" type="text" name="costo_storage" value="{{ costo_storage }}">
                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">BENE TRAINANTE:</strong>
                            <input class="quantocosta" type="text" name="costo_trainante" value="{{ costo_trainante }}">
                        </p>
                        
                    </div>
                </div>    
                <!-- Fine del value-box -->
                <!-- Box aggiuntivo 1 per Riquadro 1 con stile unico -->
                <div class="boxneri">
                    <h4>COSTO IMPIANTO FOTOVOLTAICO + STORAGE +TRAINANTE</h4>
                    <input class="quantocostacentrale" type="text" name="costo_totale"
                    value="{{ costo_totale}}" readonly style="font-size: 3rem">
                </div>

                <!-- Box aggiuntivo 2 per Riquadro 1 con stile unico -->
                <div class="boxgriginonallineati riquadro1-color">
                    <p><strong>POTENZA INSTALLATA</strong></p>
                    <input class="quantocosta" type="text" name="potenza_installata" value="{{potenza_installata}}">
                </div>
                
                <div class="boxgriginonallineati riquadro1-color">
                    <p><strong>STORAGE INSTALLATO</strong></p>
                    <input class="quantocosta" type="text" name="storage_installato" value="{{ storage_installato }}">
                </div>
                
                                <!-- Campo di input per PRODUZIONE ANNUA -->
                <div class="boxgriginonallineati riquadro1-color">
                    <p><strong>PRODUCIBILITA' SPECIFICA</strong></p>
                    <input class="rubik" type="text" name="producibilità_specifica" value="{{ producibilità_specifica }}">
                </div>
            
                <div class="boxgriginonallineati riquadro1-color">
                    <p><strong>PRODUZIONE ANNUA</strong></p>
                    <input class="rubik" type="text" name="produzione_annua" value="{{ produzione_annua }}">
                </div>

                <!-- Menu a tendina per TIPOLOGIA PANELLI -->

            </div>

            <!-- Riquadro 2 -->
            <div class="riquadro riquadro2" id="riquadro2">
                <div class="riquadrosuperiore">
                    <div class="box-titolo">
                        <h2>QUANTO MATURI COME CREDITO?</h2>
                    </div>

                    <!-- Inizio del value-box -->
                    <div class="value-box-1">
                        <p>
                            <strong class="coloretestoriquadroprincipale">CREDITI FISCALI DA IMPIANTO FOTOVOLTAICO</strong>
                            <input class="quantomaturi" type="text" name="crediti_fv"
                            value="{{ crediti_fv }}" readonly />

                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">CREDITI FISCALI DA STORAGE</strong>
                            <input class="quantomaturi" type="text" name="contributo_storage" 
                                   value="{{ crediti_storage }}" readonly >
                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">CREDITI FISCALI DA BENE TRAINANTE:</strong>
                            <input class="quantomaturi" type="text" name="bene_trainante_rosso" value="{{ crediti_trainante }}" readonly />
                        </p>
                    </div>
                </div>    
                <!-- Fine del value-box -->

                <!-- Box aggiuntivo 1 per Riquadro 2 con stile unico -->
                <div class="boxneri">
                    <h4>CREDITO FISCALE MATURATO CON 5.0</h4>
                    <input class="quantomaturi centrale" type="text" name="crediti_totale"
                    value="{{ crediti_totale }}" readonly style="font-size: 3rem">
                </div>

                <!-- Box aggiuntivo 2 per Riquadro 2 con stile unico -->
{#                <div class="boxgriginonallineati riquadro2-color">#}
{#                    <p><strong>COSTO TRAINANTE</strong></p>#}
{#                    <input class="quantomaturi" type="text" name="bene_trainante_rosso" value="{{ bene_trainante_blu }}" readonly>#}
{#                </div>#}
                
                <div class="boxgriginonallineati riquadro2-color">
                    <p><strong>RISPARMIO ENERGETICO TRAINANTE</strong></p>
                    <select class="quantomaturi" name="risparmio_energetico_trainante">
                        <option value="5" {% if risparmio_energetico_trainante == 0.05 %}selected{% endif %}>5%</option>
                        <option value="10" {% if risparmio_energetico_trainante == 0.10 %}selected{% endif %}>10%</option>
                        <option value="15" {% if risparmio_energetico_trainante == 0.15 %}selected{% endif %}>15%</option>
                    </select>
                </div>
                <div class="boxgriginonallineati riquadro1-color">
                    <p><strong>TIPOLOGIA MODULI FOTOVOLTAICI</strong></p>
                    <select class="rubik" name="tipologia_moduli">
                        <option value="1.0" {% if tipologia_pannelli == '1.0' %}selected{% endif %}>100%</option>
                        <option value="1.2" {% if tipologia_pannelli == '1.2' %}selected{% endif %}>120%</option>
                        <option value="1.4" {% if tipologia_pannelli == '1.4' %}selected{% endif %}>140%</option>
                    </select>
                </div>
                <div class="boxgriginonallineati riquadro2-color">
                    <p><strong>ALIQUOTA CONCESSA</strong></p>
                    <input class="quantomaturi" type="text" name="aliquota" 
                    value="{{ aliquota }}" readonly>
                </div>
            </div>

            <!-- Riquadro 3 -->
            <div class="riquadro riquadro3" id="riquadro3">
                <div class="riquadrosuperiore">
                    <div class="box-titolo">
                        <h2>IL TUO VERO RISPARMIO</h2>
                    </div>

                    <!-- Inizio del value-box -->
                    <div class="value-box-1">
                        <p>
                            <strong class="coloretestoriquadroprincipale">CREDITO FISCALE</strong>
                            <input class="verorisparmio" type="text" name="creditoFiscale" value="{{ crediti_totale }}" readonly>
                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">RISPARMIO IN BOLLETTA PRIMO ANNO</strong>
                            <input class="verorisparmio" type="text" name="risparmio_bolletta_primo_anno"
                            value="{{ risparmio_bolletta_primo_anno }}" readonly>
                        </p>

                        <p>
                            <strong class="coloretestoriquadroprincipale"></strong>
                            <input class="value-box-1-oscurare" type="text" name="" value="">
                        </p>
                    </div>
                </div>
                <!-- Fine del value-box -->

                <!-- Box aggiuntivo 1 per Riquadro 3 con stile unico -->
                                
                <div class="boxneri">
                    <h4>RISPARMIO PRIMO ANNO </h4>
                    <input class="verorisparmio centrale" type="text" name="risparmio_totale_primo_anno"   value="{{ risparmio_totale_primo_anno }}" readonly style="font-size: 3rem">
                </div>
            
                {% for risparmio in risparmi_bolletta.itertuples %}
                    <div class="boxgrigicolonnaverde">
                        <p><strong>RISPARMIO {{ risparmio.index }}° ANNO</strong></p>
                        <input class="verorisparmio" type="text" value="{{ risparmio.valore }}" readonly>
                    </div>
                {%  endfor %}
            
                <div class="boxgriginonallineati riquadro3-color">
                    <p><strong>TOTALE RISPARMIO IN 10 ANNI</strong></p>
                    <input class="verorisparmio" type="text" name="risparmio_dieci_anni" value="{{ risparmio_dieci_anni }}" readonly>
                </div>
            </div>
        
            <!-- Riquadro 4 -->
            <div class="riquadro riquadro4" id="riquadro4">
                <div class="riquadrosuperiore">
                    <div class="box-titolo">
                        <h2>LEASING</h2>
                    </div>
                    <!-- Inizio del value-box -->
                    <div class="value-box-1">
                        <p>
                            <strong class="coloretestoriquadroprincipale">IMPORTO LEASING</strong>
                            <input class="verorisparmio" type="text" name="importo_leasing" value="{{ importo_leasing }}">
                        </p>
                        <p>
                            <strong class="coloretestoriquadroprincipale">ANTICIPO LEASING</strong>
                            <input class="verorisparmio" type="text" name="anticipo_leasing"
                            value="{{ anticipo_leasing }}">
                        </p>
                        
                        <p>
                            <strong class="coloretestoriquadroprincipale">PRIMA RATA</strong>
                            <input class="verorisparmio" type="text" name="prima_rata" 
                            value="{{ prima_rata }}">
                        </p>

                        <p>
                            <strong class="coloretestoriquadroprincipale"></strong>
                            <input class="value-box-1-oscurare" type="text" name="" value="">
                        </p>
                    </div>
                </div>
                <!-- Fine del value-box -->

                <!-- Box aggiuntivo 1 per Riquadro 3 con stile unico -->

                <div class="boxneri">
                    <h4>BILANCIO PRIMO ANNO</h4>
                    <table>
                        <tr><th>Importo</th><th>Delta</th></tr>
                        <tr>
                        <td>
                            <input class="verorisparmio centrale" type="text" name="leasing_primo_anno" value="{{ leasing_primo_anno }}" style="font-size: 1rem" readonly>
                        </td>
                        <td>
{#                            OCIO!#}
                            <input class="verorisparmio centrale" type="text" name="delta_leasing_primo_anno" value="{{ delta_leasing_primo_anno }}" style="font-size: 1rem" readonly>
                        </td>
                        </tr>
                    </table>
                </div>
                    <div class="boxgrigicolonnaverde">
                        <table>
                            <th>Anno</th><th>Importo leasing</th><th>Delta</th>
                            <tr>
                                <td>2° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_secondo_anno" value="{{ leasing_secondo_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_secondo_anno" value="{{ delta_leasing_secondo_anno }}" style="font-size: 1rem" readonly></td>

                            </tr>
                            <tr>
                                <td>3° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_terzo_anno" value="{{ leasing_terzo_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_terzo_anno" value="{{ delta_leasing_terzo_anno }}" style="font-size: 1rem" readonly></td>

                            </tr>
                            <tr>
                                <td>4° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_quarto_anno" value="{{ leasing_quarto_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_quarto_anno" value="{{ delta_leasing_quarto_anno }}" style="font-size: 1rem" readonly></td>

                            </tr>
                            <tr>
                                <td>5° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_quinto_anno" value="{{ leasing_quinto_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_quinto_anno" value="{{ delta_leasing_quinto_anno }}" style="font-size: 1rem" readonly></td>

                            </tr>
                            <tr>
                                <td>6° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_sesto_anno" value="{{ leasing_sesto_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_sesto_anno" value="{{ delta_leasing_sesto_anno }}" style="font-size: 1rem" readonly></td>
                            </tr>
                            <tr>
                                <td>7° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_settimo_anno" value="{{ leasing_settimo_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_settimo_anno" value="{{ delta_leasing_settimo_anno }}" style="font-size: 1rem" readonly></td>
                            </tr>
                            <tr>
                                <td>8° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_ottavo_anno" value="{{ leasing_ottavo_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_ottavo_anno" value="{{ delta_leasing_ottavo_anno }}" style="font-size: 1rem" readonly></td>
                            </tr>
                            <tr>
                                <td>9° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_nono_anno" value="{{ leasing_nono_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_nono_anno" value="{{ delta_leasing_nono_anno }}" style="font-size: 1rem" readonly></td>
                            </tr>
                            <tr>
                                <td>9° anno</td>
                                <td><input class="verorisparmio centrale" type="text" name="leasing_decimo_anno" value="{{ leasing_decimo_anno }}" style="font-size: 1rem"></td>
                                <td><input class="verorisparmio centrale" type="text" name="delta_leasing_decimo_anno" value="{{ delta_leasing_decimo_anno }}" style="font-size: 1rem" readonly></td>
                            </tr>

                        </table>

{#                    <table>#}
{#                        {% if tabella_leasing|length > 0 %}#}
{#                            <th>ANNUALITA'</th><th>IMPORTO LEASING</th><th>DELTA</th>#}
{#                        {% endif %}#}
{#                        {% for piano in tabella_leasing.itertuples %}#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <input class="verorisparmio centrale" type="text" name="rata_{{ piano.index }}"#}
{#                                           value="{{ piano.index }}"  style="font-size: 1rem; align-content: center" readonly>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <input class="verorisparmio centrale" type="text" name="valore_{{ piano.index }}"#}
{#                                           value="{{ piano.rateizzazione }}"  style="font-size: 1rem">#}
{#                                </td>#}
{#                                <td>#}
{#                                    <input class="verorisparmio centrale" type="text" name="delta_{{ piano.index }}"#}
{#                                           value="{{ piano.rateizzazione }}"  style="font-size: 1rem" readonly>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {%  endfor %}#}
{#                        <tr>#}
{#                            <td>#}
{#                                <button type="submit" name="aggiungi_rata">Inserisci rata</button>#}
{#                            </td>#}
{#                            <td>#}
{#                                <button type="submit" name="salva_modifiche">Ok</button>#}
{#                            </td>#}
{#                        </tr>#}
{#                    </table>#}
                    </div>
                </div>
        </div>
        
    </div>
    </form>
    <div class="footer">
    </div>
</body>
</html>



