/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

ul {
    list-style: none; /* Rimuove i puntini dalla lista */
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

li a:hover {
    color: #0056b3;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* styles.css */
.nuovaofferta {
    display: inline-block;
    background-color: #008CBA; /* Blu brillante */
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid #0079a1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nuovaofferta:hover {
    background-color: #ff3333; /* Blu più scuro */
    border-color: #ff3333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.nuovaofferta:active {
    background-color: #ff3333; /* Blu ancora più scuro */
    border-color: #ff3333;
    transform: scale(1);
    box-shadow: none;
}
